* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  padding: 0%;
}

.header-container {
  background-color: darkslategrey;
}

.principal-title {
  color: aliceblue;
  display: block;
}

.main-container {
  background-color: darkgray;
}

.aside-container {
  background-color: dimgray;
}
